﻿@model KurOffice.ViewModel.ClientVM

<div>
    <form>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" name="fullName" class="form-control" placeholder="Full Name" required />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number" required />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input id="Password" name="Password" class="form-control" type="password" placeholder="Password" required />
        </div>

 
        <button type="button" class="btn btn-primary" id="SaveManager">Save</button>
        <button type="button" class="btn btn-primary" id="CloseModal">Close</button>
    </form>
</div>
<script>$('#CloseModal').off().on('click', function() {
        $('#exampleModal').hide();
})

$('#SaveManager').off().on('click', function() {

        $.ajax({
            url: '../Manager/CreateManager',
            type: 'Post',
            data: {
                FullName: $('#fullName').val(),
                PhoneNumber: $('#phoneNumber').val(),
                Password: $('#Password').val()
            },
            success: function(data) {
                $('#exampleModal').hide();
                if (data.success) {
                    alert('Success')
                } else {
                    alert('Faile: ' + data.msg)
                }
                updateManagerList();
            }
        });
})</script>