﻿
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div>
                    <button type="button" class="btn btn-primary" id="AddManager">Add Manager</button>
                </div>
                <br />
                <div id="managerData">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">$(document).ready(function() {
        $.ajax({
            url: '../Manager/ManagerList',
            type: 'Get',
            data: {},
            success: function(data) {
                $('#managerData').html(data);
            }
        });
});

$('#AddManager').off().on('click', function() {
        $.ajax({
            url: '../Manager/CreateManager',
            type: 'Get',
            data: {},
            success: function(data) {
                $('.modal-header').html('Add Manager');
                $('.modal-body').html(data);
                $('#exampleModal').show();
            }
        });
});</script>
