﻿@model List<KurOffice.ViewModel.ManagerVM>
    <table class="table">
        <thead>
            <tr>
                <th>Manager ID</th>
                <th>Full Name</th>
                <th>Phone Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><a href="#">@item.ManagerID</a></td>
                <td>@item.FullName</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <input type="button" class="btn btn-defult" value="More..." />
                    <input type="button" class="btn btn-defult deleteManager" value="Delete" data-id="@item.ManagerID" />
                </td>
            </tr>
            }
        </tbody>
    </table>
    <script>$('.deleteManager').off().on('click', function() {
            var ManagerId = $(this).data('id');
            $.ajax({
                url: '../Manager/RemoveManager',
                type: 'Post',
                data: { Id: ManagerId },
                success: function(data) {
                    updateManagerList();
                }
            });
});

var updateManagerList = function() {
            $.ajax({
                url: '../Manager/ManagerList',
                type: 'Get',
                data: {},
                success: function(data) {
                    $('#managerData').html(data);
                }
            });
}</script>
