﻿@model KurOffice.ViewModel.ClientVM

    <div>
        <form>
            <div class="form-group">
                <label for="Area">Area</label>
                <input id="Area" name="Area" class="form-control" placeholder="Area" required />
            </div>
            <div class="form-group">
                <label for="Countroom">Countroom</label>
                <input id="Countroom" name="Countroom" class="form-control" placeholder="Countroom" required />
            </div>
            <div class="form-group">
                <label for="Floor">Floor</label>
                <input id="Floor" name="Floor" class="form-control" placeholder="Floor" required />
            </div>
            <div class="form-group">
                <label for="Number">Number</label>
                <input id="Number" name="Number" class="form-control" placeholder="Number" required />
            </div>
            <div class="form-group">
                <label for="Kitchen">Kitchen</label>
                <input id="Kitchen" name="Kitchen" type="checkbox" class="form-control" placeholder="Kitchen" required />
            </div>
            <div class="form-group">
                <label for="Restroom">Restroom</label>
                <input id="Restroom" name="Restroom" type="checkbox" class="form-control" placeholder="Restroom" required />
            </div>
            <div class="form-group">
                <label for="Startprice">Startprice</label>
                <input id="Startprice" name="Startprice" class="form-control" placeholder="Startprice" required />
            </div>

            <button type="button" class="btn btn-primary" id="SaveOffice">Save</button>
            <button type="button" class="btn btn-primary" id="CloseModal">Close</button>
        </form>
    </div>

    <script>$('#CloseModal').off().on('click', function() {
            $('#exampleModal').hide();
})


$('#SaveOffice').off().on('click', function() {

            $.ajax({
                url: '../Office/AddOffice',
                type: 'Post',
                data: {
                    Area: $('#Area').val(),
                    Countroom: $('#Countroom').val(),
                    Floor: $('#Floor').val(),
                    Number: $('#Number').val(),
                    Kitchen: $('#Kitchen').is(':checked'),
                    Restroom: $('#Restroom').is(':checked'),
                    Startprice: $('#Startprice').val()
                },
                success: function(data) {
                    $('#exampleModal').hide();
                    if (data.success) {
                        alert('Success')
                    } else {
                        alert('Faile: ' + data.msg)
                    }
                    updateOfficeList();
                }
            });
})</script>