﻿
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div>
                    <button type="button" class="btn btn-primary" id="AddOffice">Add Office</button>
                </div>
                <br />
                <div id="officeData">
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">$(document).ready(function() {
        $.ajax({
            url: '../Office/OfficeList',
            type: 'Get',
            data: {},
            success: function(data) {
                $('#officeData').html(data);
            }
        });
});

$('#AddOffice').off().on('click', function() {
        $.ajax({
            url: '../Office/AddOffice',
            type: 'Get',
            data: {},
            success: function(data) {
                $('.modal-header').html('Add Office');
                $('.modal-body').html(data);
                $('#exampleModal').show();
            }
        });
});</script>
