﻿@model List<KurOffice.ViewModel.OfficeVM>
    <table class="table" id="officeList">
        <thead>
            <tr>
                <th>Office ID</th>
                <th>Area</th>
                <th>Countroom</th>
                <th>Floor</th>
                <th>Kitchen</th>
                <th>Number</th>
                <th>Restroom</th>
                <th>Startprice</th>
                <th>Managment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><a href="#">@item.OfficesId</a></td>
                <td>@item.Area</td>
                <td>@item.Countroom</td>
                <td>@item.Floor</td>
                <td>@item.Kitchen</td>
                <td>@item.Number</td>
                <td>@item.Restroom</td>
                <td>@item.Startprice</td>
                <td>
                    <input type="button" class="btn btn-defult deleteOffice" value="Delete" data-id="@item.OfficesId" />
                </td>
            </tr>
            }
        </tbody>
    </table>
    <script>$('#officeList').DataTable().on("draw.dt", function() {
            $('.deleteOffice').off().on('click', function() {
                var OfficeId = $(this).data('id');
                $.ajax({
                    url: '../Office/RemoveOffice',
                    type: 'Post',
                    data: { Id: OfficeId },
                    success: function(data) {
                        updateOfficeList();
                    }
                });
            });
});


$('.deleteOffice').off().on('click', function() {
            var OfficeId = $(this).data('id');
            $.ajax({
                url: '../Office/RemoveOffice',
                type: 'Post',
                data: { Id: OfficeId },
                success: function(data) {
                    alert(data.msg);
                    updateOfficeList();
                }
            });
});

var updateOfficeList = function() {
            $.ajax({
                url: '../Office/OfficeList',
                type: 'Get',
                data: {},
                success: function(data) {
                    $('#officeData').html(data);
                }
            });
}</script>
