﻿@model List<KurOffice.ViewModel.ClientVM>

    <table class="table" id="clientList">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Managment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#">@item.ClientID</a></td>
                    <td>@item.FullName</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        <input type="button" class="btn btn-defult deleteClient" value="Delete" data-id="@item.ClientID" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script>

$('#clientList').DataTable().on("draw.dt", function () {
  $('.deleteClient').off().on('click', function() {
          var ClientId = $(this).data('id');
          $.ajax({
              url: '../Clients/RemoveClient',
              type: 'Post',
              data: { id: ClientId },
              success: function(data) {
                  updateClientList();
              }
          });
  });
});

$('.deleteClient').off().on('click', function() {
        var ClientId = $(this).data('id');
        $.ajax({
            url: '../Clients/RemoveClient',
            type: 'Post',
            data: { id: ClientId },
            success: function(data) {
                updateClientList();
            }
        });
});

var updateClientList = function() {
        $.ajax({
            url: '../Clients/ClientList',
            type: 'Get',
            data: {},
            success: function(data) {
                $('#clientData').html(data);
            }
        });
}


</script>
