﻿@model KurOffice.ViewModel.ClientVM

<div>
    <form>
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input id="fullName" name="fullName" class="form-control" placeholder="Full Name" required/>


        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number" required/>
        </div>
        <button type="button" class="btn btn-primary" id="SaveClient">Save</button>
        <button type="button" class="btn btn-primary" id="CloseModal">Close</button>
    </form>
</div>


<script>$('#CloseModal').off().on('click', function() {
        $('#exampleModal').hide();
})


$('#SaveClient').off().on('click', function() {

        $.ajax({
            url: '../Clients/CreateClient',
            type: 'Post',
            data: {
                FullName: $('#fullName').val(),
                PhoneNumber: $('#phoneNumber').val()
            },
            success: function(data) {
                $('#exampleModal').hide();
                if (data.success) {
                    alert('Success')
                } else {
                    alert('Faile: ' + data.msg)
                }
                updateClientList();
            }
        });
})</script>