﻿
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div>
                    <button type="button" class="btn btn-primary" id="AddClient">Add Client</button>
              </div>
                <br />
                <div id="clientData">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">$(document).ready(function() {
        $.ajax({
            url: '../Clients/ClientList',
            type: 'Get',
            data: {},
            success: function(data) {
                $('#clientData').html(data);
            }
        });
});

$('#AddClient').off().on('click', function() {
        $.ajax({
            url: '../Clients/CreateClient',
            type: 'Get',
            data: {},
            success: function(data) {
                $('.modal-header').html('Add Client');
                $('.modal-body').html(data);
                $('#exampleModal').show();
            }
        });
});



</script>