﻿@model List<KurOffice.Models.OfficeStatisticVM>

    <table class="table" id="statisticList">
    <thead>
        <tr>
            <th>OfficeNumber</th>
            <th>Price</th>
            <th>Avg Terms</th>
            <th>ClientCount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.OfficeNumber</td>
            <td>@item.Price</td>
            <td>@item.AvgTerms</td>
            <td>@item.ClientCount</td>
        </tr>
        }
    </tbody>
</table>
