﻿@model List<KurOffice.Models.OfficeStatisticVM>

<div class="tabel-wrapper well">
    <table class="table" id="statisticList" style="padding-top: 20px;">
        <thead>
            <tr>
                <th>OfficeNumber</th>
                <th>Price</th>
                <th>Avg Terms</th>
                <th>ClientCount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OfficeNumber</td>
                    <td>@item.Price</td>
                    <td>@item.AvgTerms</td>
                    <td>@item.ClientCount</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <script>$('#statisticList').DataTable();</script>
