﻿
<div>
    <form>
        <div class="form-group">
            <label for="invoiceOrder">Order</label>
            <input id="invoiceOrder" name="invoiceOrder" class="form-control" placeholder="Order" required />
        </div>
        <button type="button" class="btn btn-primary" id="SaveInvoice">Save</button>
        <button type="button" class="btn btn-primary" id="CloseModal">Close</button>
    </form>
</div>

<script>
$('#CloseModal').off().on('click', function() {
        $('#exampleModal').hide();
})
$('#SaveInvoice').off().on('click', function() {
      var bookingId = $('#bookingId').val();
        $.ajax({
            url: '../Invoice/AddInvoice',
            type: 'Post',
            data: {
                BookingsId: bookingId,
                Orders: $('#invoiceOrder').val()
            },
            success: function(data) {
                $('#exampleModal').hide();
                if (data.success) {
                    alert('Success')
                } else {
                    alert('Faile: ' + data.msg)
                }
                updateInvoiceList();
            }
        });
})
</script>
