@{
    var booking_Id = ViewBag.BookingId;

}
<div id="InvoiceListModel">
</div>
<script>
$(document).ready(function() {
        $.ajax({
            url: '../Invoice/InvoiceList',
            type: 'Get',
            data: {id: @booking_Id},
            success: function(data) {
                $('#InvoiceListModel').html(data);
            }
        });

})</script>
