﻿@model List<KurOffice.ViewModel.InvoiceVM>
@{

    var bookingId = (int)ViewBag.BookingId;
    var totalSum = (decimal)ViewBag.TotalSum;
}

<input type="hidden" value="@bookingId" id="bookingId" />

<div class="invoice-wrapper">
    <input type="button" class="btn" value="Back" style="float: right;" id="backToBooking" />
    <table class="table" id="InvoiceList">
        <thead>
            <tr>
                <th>Invoice Id</th>
                <th>Date</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#">@item.InvioceId</a></td>
                    <td>@item.Datetime</td>
                    <td>@item.Orders</td>
                </tr>
            }

            <tr class="well" style="background-color: #fff;">
                <td>Total: </td>
                <td></td>
                <td>@totalSum</td>
            </tr>
        </tbody>
    </table>
    <input type="button" class="btn btn-success" value="Add" id="addInvoice" />
</div>

<script>

$('#backToBooking').off().on('click', function() {
        $.ajax({
            url: '../Booking/BookingList',
            type: 'Get',
            data: {},
            success: function(data) {
                $('#BookingData').html(data);
            }
        });
});

$('#addInvoice').off().on('click', function() {
        $.ajax({
            url: '../Invoice/AddInvoice',
            type: 'Get',
            data: {},
            success: function(data) {
                $('.modal-header').html('Add Invoice');
                $('.modal-body').html(data);
                $('#exampleModal').show();
            }
        });
      });

        var updateInvoiceList = function() {
                $.ajax({
                    url: '../Invoice/InvoiceList',
                    type: 'Get',
                    data: {id: @bookingId},
                    success: function(data) {
                        $('#InvoiceListModel').html(data);
                    }
                });
        }

</script>
