<style>
  .wrapper-booking-date{
    margin-top: 20px;
  }
</style>


<div class="row">
  <div class="wrapper-booking-date">
  <div class="col-md-6">
    <div class="form-group">
        <label for="bookingName">Name: </label>
        <input id="bookingName" name="bookingName" class="form-control" placeholder="Booking Name" required/>
    </div>
    <div class="form-group">
        <label for="bookingPrice">Price: </label>
        <input id="bookingPrice" name="bookingPrice" class="form-control" placeholder="Booking Price" required/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label for="bookingTerm">Term: </label>
        <input id="bookingTerm" name="bookingTerm" class="form-control" placeholder="Mounth" required/>
    </div>
    <div class="form-group">
        <label for="bookingStartDate">Start Date: </label>
        <input id="bookingStartDate" name="bookingStartDate" class="form-control" required/>
    </div>
    <div class="form-group">
        <input id="saveBookingData" type="button" class="btn btn-success" style="float: right;" value="Save"/>
    </div>
  </div>
</div>
  </div>
<script>
$('#bookingStartDate').dateTimePicker({
  limitMin: new Date()
});

$('#saveBookingData').off().on('click',function(){
    var Name = $('#bookingName').val();
    var Price = $('#bookingPrice').val();
    var Term = $('#bookingTerm').val();
    var StartDate = $('#bookingStartDate').val();
    booking.manager.saveBookingData(Price,Name,StartDate,Term);
});

</script>
