﻿@model List<KurOffice.ViewModel.ClientVM>
    <table class="table" id="clientTable">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Managment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><a href="#">@item.ClientID</a></td>
                <td>@item.FullName</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <input type="button" class="btn btn-defult selectClient" data-id="@item.ClientID" value="Select" />
                </td>
            </tr>
            }
        </tbody>
    </table>
<script>
$(document).ready( function () {
  $('.selectClient').off().on('click', function (){
      var clientId = $(this).data('id');

      booking.manager.addClient(clientId);
      booking.workflow.goToBookingData();
  });
  $('#clientTable').DataTable().on("draw.dt", function () {
    $('.selectClient').off().on('click', function (){
        var clientId = $(this).data('id');

        booking.manager.addClient(clientId);
        booking.workflow.goToBookingData();
    });
  });
} );
$('.selectClient').off().on('click', function (){
    var clientId = $(this).data('id');

    booking.manager.addClient(clientId);
    booking.workflow.goToBookingData();
});
</script>
