﻿@model List<KurOffice.ViewModel.OfficeVM>

    <table class="table" id="officeTable">
        <thead>
            <tr>
                <th>Office ID</th>
                <th>Area</th>
                <th>Countroom</th>
                <th>Floor</th>
                <th>Kitchen</th>
                <th>Number</th>
                <th>Restroom</th>
                <th>Startprice</th>
                <th>Managment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="#" class="bookingOfficeId">@item.OfficesId</a></td>
                    <td>@item.Area</td>
                    <td>@item.Countroom</td>
                    <td>@item.Floor</td>
                    <td>@item.Kitchen</td>
                    <td>@item.Number</td>
                    <td>@item.Restroom</td>
                    <td>@item.Startprice</td>
                    <td>
                        <input type="button" class="btn btn-defult selectOffice"  data-id="@item.OfficesId" value="Select" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script>
    $(document).ready( function () {
      $('.selectOffice').on("click", function () {
              var officeId = $(this).data('id');
              booking.manager.addOffice(officeId);
              booking.workflow.goToClient();
          });
      $('#officeTable').DataTable().on("draw.dt", function () {
        $('.selectOffice').on("click", function () {
                var officeId = $(this).data('id');
                booking.manager.addOffice(officeId);
                booking.workflow.goToClient();
            });
      });
    } );


</script>
