﻿
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 well">
        <div class="form-group">
            <label for="Area">Area</label>
            <input id="Area" name="Area" class="form-control" placeholder="Area" required />
        </div>
        <div class="form-group">
            <label for="Floor">Floor</label>
            <input id="Floor" name="Floor" class="form-control" placeholder="Floor" required />
        </div>
        <div class="form-group">
            <label for="Roomcount">Room Count</label>
            <input id="Roomcount" name="Roomcount" class="form-control" placeholder="Room Count" required />
        </div>
        <div class="form-group">
            <label for="Number">Office Number</label>
            <input id="Number" name="Number" class="form-control" placeholder="Office Number" required />
        </div>
        <div class="form-group">
            <label for="bookingStartDate">Start Date: </label>
            <input id="bookingStartDate" name="bookingStartDate" class="form-control" required/>
        </div>
        <div class="form-group">
            <input id="Clear" class="btn btn-danger" type="button" value="Clear"  />
            <input id="FilterOffice" class="btn btn-success" type="button" value="Filter" style="float: right;" />
        </div>
      </div>
    </div>

<script>
  $(document).ready(function(){
    $('#bookingStartDate').dateTimePicker({
      limitMin: new Date()
    });
    $('#FilterOffice').off().on('click',function(){
      var Area = $('#Area').val();
      var Floor = $('#Floor').val();
      var Roomcount = $('#Roomcount').val();
      var Number = $('#Number').val();
      var bookingStartDate = $('#bookingStartDate').val();
      console.log(bookingStartDate);
      $.ajax({
          type: 'get',
          url: '../Booking/AddOffice',
          data: {
            Area: Area,
            CountRoom: Roomcount,
            Floor: Floor,
            Number: Number,
            bookingStartDate: bookingStartDate
          },
          success: function(data) {
              $('#bookingManagment').html(data);
          }
    })
  });
  $('#Clear').off().on('click',function(){
    $('#Area').val('');
    $('#Floor').val('');
    $('#Roomcount').val('');
    $('#Number').val('');
    $('#bookingStartDate').val('');
  })
  });
</script>
