﻿@model List<KurOffice.ViewModel.BookingVM>

<style>

.expired {
  background-color: #e3e3e3 !important;
}

</style>

    <table class="table" id="bookingList">
        <thead>
            <tr>
                <th>Booking Name</th>
                <th>Client Name</th>
                <th>Manager Name</th>
                <th>Office Number</th>
                <th>Price</th>
                <th>Term</th>
                <th>Booking Start Date</th>
                <th>Booking Created</th>
                <th>Invoice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.isExpired)
                {
                    <tr class="expired" >
                <td>@item.BookingName</td>
                <td>@item.ClientName</td>
                <td>@item.ManagerName</td>
                <td>@item.OfficeNumber</td>
                <td>@item.Price</td>
                <td>@item.Term</td>
                <td>@item.StartDate.ToString("d")</td>
                <td>@item.CreatedDate.ToString("d")</td>
                <th><input type="button" class="btn btn-success checkInvoice" value="Check Invoice" data-id="@item.BookingId"></th>
            </tr>

                }
                else
                {
                    <tr class="" >
                <td>@item.BookingName</td>
                <td>@item.ClientName</td>
                <td>@item.ManagerName</td>
                <td>@item.OfficeNumber</td>
                <td>@item.Price</td>
                <td>@item.Term</td>
                <td>@item.StartDate.ToString("d")</td>
                <td>@item.CreatedDate.ToString("d")</td>
                <th><input type="button" class="btn btn-success checkInvoice" value="Check Invoice" data-id="@item.BookingId"></th>
                    </tr>

                }

            }
        </tbody>
    </table>
<script>

$(document).ready(function() {
  $('#bookingList').DataTable().on("draw.dt", function () {
    $('.checkInvoice').off().on('click',function() {
      var id = $(this).data('id');
      console.log(id);
      $.ajax({
       url: '../Invoice/Index',
       type: 'Get',
       data: {id: id},
       success: function(data) {
           $('#BookingData').html(data);
       }
    });
    });
});
$('.checkInvoice').off().on('click',function() {
  var id = $(this).data('id');
  console.log(id);
  $.ajax({
   url: '../Invoice/Index',
   type: 'Get',
   data: {id: id},
   success: function(data) {
       $('#BookingData').html(data);
   }
});
});
});

</script>
