﻿<style>

    .booking-wrapper ul {
        list-style-type: none;
        padding: 20px;
    }
        .booking-wrapper ul li {
            list-style-type: none;
            padding: 10px;
            background-color: #a3a3c2;
            border: 1px solid white;
            color: white;
        }
        .comlited{
            background-color: #8fd68f !important;
        }
    /*#8fd68f*/

        .active:before{
            content: " > ";
        }
</style>


<div class="booking-wrapper">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li class="active" id="office">Office</li>
                <li id="client">Client</li>
                <li id="bookingData">Booking data</li>
            </ul>

            <br />

            <div id="officeFilter"></div>
        </div>
        <div class="col-md-8">
            <div id="bookingManagment"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
      $.ajax({
          type: 'get',
          url: '../Booking/BookingFilter',
          data: {},
          success: function(data) {
              $('#officeFilter').html(data);
          }
      })


        $.ajax({
            type: 'get',
            url: '../Booking/AddOffice',
            data: {},
            success: function(data) {
                $('#bookingManagment').html(data);
            }
        })


});
</script>
