﻿
<br />
<div id="BookingSection">
    <div class="container">
        <div class="row">
            <div class="well">

                <button type="button" class="btn btn-primary" id="AddBooking">Add Booking</button>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div>

                    </div>
                    <br />
                    <div id="BookingData">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
        $.ajax({
            url: '../Booking/BookingList',
            type: 'Get',
            data: {},
            success: function(data) {
                $('#BookingData').html(data);
            }
        });
});

$('#AddBooking').off().on('click', function() {
        $.ajax({
            url: '../Booking/CreateBooking',
            type: 'Get',
            data: {},
            success: function(data) {
                $('#BookingSection').html(data);
                $('#BookingSection').fadeIn()
            }
});



  booking = {
      manager: {
          booking: {
            officeId: '',
            managerId: '',
            bookingDate: '',
            clientId: '',
            price: '',
            term: '',
            name: '',
          },
            addOffice: function(id) {
               this.booking.officeId = id;
            },
            addClient: function(id){
               this.booking.clientId = id;
            },
            saveBookingData(price,name,bookingDate,term){
                this.booking.price = price;
                this.booking.bookingDate = bookingDate;
                this.booking.term = term;
                this.booking.name = name;
                saveBooking(this.booking);
            }
          },
      workflow: {
        goToClient: function(){
            BookingClientGrid()
            .then(function(success){
                $('.booking-wrapper #office').addClass('comlited');
                $('.booking-wrapper').find('li').removeClass('active');
                $('.booking-wrapper #client').addClass('active');
                $('#officeFilter').html('');
            })
            .catch(function(error){
              alert(error);
            })
        },
        goToBookingData: function(){
          BookingDataGrid()
          .then(function(success){
              $('.booking-wrapper #client').addClass('comlited');
              $('.booking-wrapper').find('li').removeClass('active');
              $('.booking-wrapper #bookingData').addClass('active');
          })
          .catch(function(error){
            alert(error);
          })
        }
      }
  }

  var saveBooking = function (booking){
      $.ajax({
        type: 'post',
        url: '../Booking/SaveBooking',
        data: { booking : booking },
        success: function(data){
            console.log(data);
            if (data.success) {
                location.reload();
            }
            else {
              alert(data.msg);
            }
        },
        error: function (error) {
        }
      });
  }

  var BookingClientGrid = function () {
    return new Promise(function(resolve,reject){
        $.ajax({
          type: 'get',
          url: '../Booking/AddClient',
          data: {},
          success: function(data){
            $('#bookingManagment').html(data);
            resolve(true);
          },
          error: function (error) {
              reject('Bed Connection');
          }
        });
    })
  }

  var BookingDataGrid = function () {
    return new Promise(function(resolve,reject){
        $.ajax({
          type: 'get',
          url: '../Booking/AddBookingData',
          data: {},
          success: function(data){
            $('#bookingManagment').html(data);
            resolve(true);
          },
          error: function (error) {
              reject('Bed Connection');
          }
        });
    })
  }


});
</script>
