﻿

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KurOffice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="~/DataTable/css/jquery.dataTables.css" />
    <script type="text/javascript" src="~/DataTable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/datepicker/date-time-picker.min.js"></script>    
    <script src="~/js/site.js"></script>

</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="co    bootstrap-datetimepicker-standalone.cssllapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">KurOffice</a>
            </div>

            @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar-collapse collapse" style="display: none" id="Menu">
            <ul class="nav navbar-nav">
                @if (User.Identity.Name == "Admin")
                {
                    <li><a asp-area="" asp-controller="Manager" asp-action="Index">Manager</a></li>
                }

                <li><a asp-area="" asp-controller="Office" asp-action="Index">Office</a></li>
                <li><a asp-area="" asp-controller="Clients" asp-action="Index">Client</a></li>
                <li><a asp-area="" asp-controller="Booking" asp-action="Index">Booking</a></li>
            </ul>
            <a asp-area="" asp-controller="Account" asp-action="Logout" class="navbar-brand" style="float: right ">Logout</a>
        </div>
    }
    else
    {

     <a asp - area = "" asp-controller = "Account" asp-action = "Login" class="navbar-brand" style="float: right ">Login</a>
    }

        </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - KurOffice</p>
        </footer>
    </div>


    <div class="modal" id="exampleModal" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

</body>
</html>
